<p id="notice"><%= notice %></p>

<p>
  <strong>Retailer:</strong>
  <%= @gasstation.retailer %>
</p>

<%= link_to 'Edit', edit_gasstation_path(@gasstation) %> |
<%= link_to 'Back', gasstations_path %>
